<configuration debug="false">
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <timestamp key="byDay" datePattern="yyyy-MM-dd" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{45} | %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/vertx-s3-${byDay}.log</file>
    <append>false</append>
    <encoder>
      <pattern>[%level] %logger{45} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="info.freelibrary.util" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="io.vertx" level="OFF" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <!-- Loggers for the testcontainers.org tool -->
  <logger name="org.testcontainers.utility.RegistryAuthLocator" level="ERROR">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.testcontainers.dockerclient.DockerClientProviderStrategy" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.testcontainers.dockerclient.EnvironmentAndSystemPropertyClientProviderStrategy" level="WARN">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.testcontainers.utility.ResourceReaper" level="ERROR">
    <appender-ref ref="STDOUT" />
  </logger>

<!--
  <logger name="info.freelibrary.vertx.s3" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
-->

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
